<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Add New Task</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body class="content">
<!-- Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-6 col-xl-6">
            <div class="h-100 bg-light rounded p-4">
                <div class="mb-3">
                    <a th:href="@{/todos}" class="bi bi-arrow-left-circle-fill">Back</a>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-5">Change Password</h6>
                </div>

                <form  autocomplete="off" th:action="@{/changePassword}" th:method="post" class="was-validated" onsubmit="showLoader()">
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" th:name="username" th:maxlength="25"  id="currentPassword" placeholder="Current Password" required>
                        <label for="currentPassword">Current Password</label>
                        <p type="button" onclick="showCurrentPassword()"
                           class="btn position-absolute top-50 end-0 translate-middle-y me-4 border-0 bg-transparent">
                            <i id="currentPasswordEyeIcon" class="bi bi-eye-fill"></i>
                        </p>
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" th:maxlength="25" th:name="password"  id="newPassword" placeholder="New Password" required>
                        <label for="newPassword">New Password</label>
                        <p type="button" onclick="showNewPassword()"
                           class="btn position-absolute top-50 end-0 translate-middle-y me-4 border-0 bg-transparent">
                            <i id="newPasswordEyeIcon" class="bi bi-eye-fill"></i>
                        </p>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control"  th:maxlength="25"  id="confirmNewPassword" placeholder="Confirm Password" required>
                        <label for="confirmNewPassword">Confirm Password</label>
                        <p type="button" onclick="showConfirmNewPassword()"
                           class="btn position-absolute top-50 end-0 translate-middle-y  me-4 border-0 bg-transparent"
                        >
                            <i id="confirmNewPasswordEyeIcon" class="bi bi-eye-fill"></i>
                        </p>
                        <div class="invalid-feedback"></div>
                    </div>
                    <input type="hidden" name="_method" value="patch"/>
                    <p id="showNewPasswordMessage"  th:text="${changePasswordError}"></p>
                    <button type="submit" id="changePasswordBtn" th:name="_method" th:value="patch"  class="btn btn-primary py-3 w-100 mb-4" >Change Password</button>

                </form>
                <div id="loaderOverlay">
                    <div class="spinner"></div>
                    <p>Changing Password...</p>
                </div>
            </div>
        </div>
        <nav class="bottom-nav">
            <a th:href="@{/todos}" class="nav-item">
                <i class="bi bi-house"></i>
                <span>Home</span>
            </a>

            <a th:href="@{/calendar}" class="nav-item">
                <i class="bi bi-calendar"></i>
                <span>Calendar</span>
            </a>

            <a th:href="@{/completedTasks}" class="nav-item">
                <i class="fa fa-tasks mb-2"></i>
                <span>Completed</span>
            </a>
            <a th:href="@{/profile}" class="nav-item">
                <i class="=bi bi-person"></i>
                <span>Profile</span>
            </a>
        </nav>

    </div>
</div>
</body>
<!-- Template Javascript -->

<script src="/js/changePassword.js"></script>
</html>