<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Todos</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body class="bodyContainer">
<!-- Chart Start -->
<div class="container-fluid pt-4">
    <div class="row g-4 ">
        <div class="col-sm-12  col-xl-12">
            <div class="bg-light  d-flex justify-content-between">
                <a class="mt-1 p-3 text-primary" href="@{/todos}"><h3 class="text-primary">Task Tracker</h3></a>
                <div class="  dropdown bg-light " style="text-align: right;">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="img/profile-default.svg" alt="profile pic" style="width: 40px; height: 40px;">

                        <span class="d-none d-lg-inline-flex text-dark" th:text="${profileInfo.username}"></span>

                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light text-start border-0 rounded-0 rounded-bottom m-0">

                        <a th:href="@{/profile}" class="dropdown-item">
                            <i class="fa fa-user-circle"></i> My Profile
                        </a>
                        <a th:href="@{/calendar}" class="dropdown-item">
                            <i class="fa fa-calendar me-2"></i>Calendar
                        </a>
                        <a th:href="@{/changePassword}" class="dropdown-item">
                            <i class="fa fa-key me-2"></i>Change Password
                        </a>

                        <a th:href="@{/deleteAccount}" class="dropdown-item">
                            <i class="fa fa-trash me-2"></i>Delete Account
                        </a>
                        <!-- Settings -->
<!--                        <a class="dropdown-item d-flex justify-content-between align-items-center"-->
<!--                           data-bs-toggle="collapse"-->
<!--                           href="#settingsMenu"-->
<!--                           role="button"-->
<!--                           aria-expanded="false"-->
<!--                           aria-controls="settingsMenu">-->
<!--                            <span><i class="fa fa-cog"></i> Settings</span>-->
<!--                            <i class="fa fa-angle-down"></i>-->
<!--                        </a>-->

<!--                        &lt;!&ndash; Dropdown options &ndash;&gt;-->
<!--                        <div class="collapse" id="settingsMenu">-->
<!--                            <a th:href="@{/changePassword}" class="dropdown-item ps-4">-->
<!--                                <i class="fa fa-key me-2"></i>Change Password-->
<!--                            </a>-->

<!--                            <a th:href="@{/deleteAccount}" class="dropdown-item ps-4">-->
<!--                                <i class="fa fa-trash me-2"></i>Delete Account-->
<!--                            </a>-->
<!--                        </div>-->

                        <div class="dropdown-item">
                        <form th:action="@{/signout}" th:method="post" autocomplete="off" onsubmit="showLoader()">
                            <button type="submit" name="_method" value="post"  id="signout" hidden  class="btn btn-primary">signout</button>
                            <a type="button" class="btn btn-primary" id="signoutBtn"  data-bs-toggle="modal" data-bs-target="#signoutModal">
                                Sign Out
                            </a>


                        </form>

<!--                        <a th:href="/logout" class="dropdown-item">-->
<!--                            <i class="bi bi-box-arrow-in-right"></i> Log Out-->
<!--                        </a>-->

                    </div>
                </div>

                    <div id="loaderOverlay">
                        <div class="spinner">
                            <p>Signing Out...</p>
                        </div>
                    </div>
                </div>

                <div class="modal" id="signoutModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Sign Out</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <div class="modal-body">
                                Are you sure you want to sign out?
                            </div>
                            <div class="modal-footer d-flex justify-content-between">
                                <button type="button"  onclick="signout_button_no()" class="btn btn-warning" data-bs-dismiss="modal">No</button>
                                <button type="button" onclick="signout_button_yes()" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">Tasks</h6>
                    <a th:href="@{/passedDueDate}">Show Passed Due Date</a>
                </div>

                <div class="d-flex mb-2 mt-3">

                    <input class="form-control bg-transparent"
                            type="text"
                           id="searchInput"
                           placeholder="Type to search"
                           onkeyup="searchTask()">

                    <a th:href="@{/todo}" class="btn btn-primary ms-2">Add</a>
                </div>
                <div id="taskContainer">
                <div class="d-flex align-items-center border-bottom py-3" th:each="task:${tasks}">
                    <a class="w-100 ms-3 ml-5" th:href="@{/todo/{id}(id=${task.id})}">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0" th:classappend="${task.completed} ? 'completed': 'notcompleted' " th:text="${task.title != '' ? #strings.abbreviate(task.title, 40) : ''}"></h6>
                            <small th:text="${task.dueDate} != '' ? ${task.dueDate} : 'set Due Date'"></small>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <span th:classappend="${task.completed} ? 'completed': 'notcompleted' " th:text="${task.description != null ? #strings.abbreviate(task.description, 50) : ''}"></span>
                            <small  th:classappend="${task.priority}== 'HIGH' ? 'text-danger' : 'text-success' " th:text="${task.priority}"></small>
                        </div>
                    </a>
                    <div style="position: relative; display: inline-block;text-align:center">

                        <!-- Grip button -->
                        <button onclick="toggleMenu(this)" style="border:none; background:none;">
                            <i class="bi bi-grip-vertical"></i>
                        </button>

                        <!--                         Hidden menu -->
                        <div class="menu grid-vertical-options bg-light text-left">
                            <a th:href="@{/todo/{id}(id=${task.id})}" class="bi bi-pencil-square text-start">Edit</a><br>
<!--                            <a th:href="@{/todo/{id}(id=${task.id})}" class="bi bi-trash text-start">Delete</a><br>-->
                            <form th:action="@{/todo/{id}(id=${task.id})}" th:method="post" autocomplete="off">
                            <button type="submit" name="_method" value="delete"  id="deleteTodosTask" hidden  class="btn btn-primary">delete</button>
                            <a type="button" class="btn text-start text-primary" id="deleteTodosTaskBtn"  data-bs-toggle="modal" data-bs-target="#deleteTodosTaskModal">
                                Delete
                            </a>
                            </form>
                                  </div>

                        <div class="modal" id="deleteTodosTaskModal">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Task</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <div class="modal-body">
                                        Are you sure you want to delete this task?
                                    </div>
                                    <div class="modal-footer d-flex justify-content-between">
                                        <button type="button"  onclick="delete_todostask_button_no()" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                        <button type="button" onclick="delete_todostask_button_yes()" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            </div>

        </div>
        <nav class="bottom-nav">
            <a th:href="@{/todos}" class="nav-item"  th:classappend="${currentPage == 'hometab'} ? 'active' : ''">
                <i class="bi bi-house"></i>
                <span>Home</span>
            </a>

            <a th:href="@{/calendar}" class="nav-item">
                <i class="bi bi-calendar"></i>
                <span>Calendar</span>
            </a>

            <a th:href="@{/notifications}" class="nav-item">
                <i class="bi bi-bell"></i>
                <sub class="bg-danger text-white" th:text="${noOfNotifications}"></sub>
                <span>Notifications</span>
            </a>
            <a th:href="@{/profile}" class="nav-item">
                <i class="=bi bi-person"></i>
                <span>Profile</span>
            </a>
        </nav>
    </div>
</div>

<script src="/js/main.js"></script>
</body>


<script>
    function toggleMenu(button) {
        const menu = button.nextElementSibling;
        menu.style.display = menu.style.display === "block" ? "none" : "block";
    }
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/chart/chart.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
</html>